name: Deploy stage
on:
  push:
    branches:
      - "main"

jobs:
  
  build-push:
    
    name: Deploy stage
    runs-on: ubuntu-20.04

    steps:
    
    - name: Create pull request
      uses: repo-sync/pull-request@v2
      with:
        source_branch: ""
        destination_branch: "main"
        github_token: ${{ secrets.GITHUB_TOKEN }}
        pr_title: "SRE-152 - ${{ github.ref }}"
        pr_body: teste ${{ github.event.head_commit.message }}
        pr_label: "auto-pr"
